<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="PageTestDemo.Pages.HerokuDemo.Login.ILogin, PageTestDemo"
                mapTo="PageTestDemo.Pages.HerokuDemo.Login.LoginPage, PageTestDemo">
        <lifetime type="singleton"/>
      </register>
      <register type="PageTestDemo.Pages.HerokuDemo.SecureArea.ISecureArea, PageTestDemo"
                mapTo="PageTestDemo.Pages.HerokuDemo.SecureArea.SecureAreaPage, PageTestDemo">
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>
</configuration>

